
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myCustomerLabel" translate="mccrmApp.customer.home.createOrEditLabel">Create or edit a Customer</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.customer.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.customer.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="mccrmApp.customer.firstName" for="field_firstName">First Name</label>
            <input type="text" class="form-control" name="firstName" id="field_firstName"
                    ng-model="vm.customer.firstName"
                    ng-maxlength="64" />
            <div ng-show="editForm.firstName.$invalid">
                <p class="help-block"
                    ng-show="editForm.firstName.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="64">
                    This field cannot be longer than 64 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="mccrmApp.customer.lastName" for="field_lastName">Last Name</label>
            <input type="text" class="form-control" name="lastName" id="field_lastName"
                    ng-model="vm.customer.lastName"
                    ng-maxlength="64" />
            <div ng-show="editForm.lastName.$invalid">
                <p class="help-block"
                    ng-show="editForm.lastName.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="64">
                    This field cannot be longer than 64 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="mccrmApp.customer.middleName" for="field_middleName">Middle Name</label>
            <input type="text" class="form-control" name="middleName" id="field_middleName"
                    ng-model="vm.customer.middleName"
                    ng-maxlength="64" />
            <div ng-show="editForm.middleName.$invalid">
                <p class="help-block"
                    ng-show="editForm.middleName.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="64">
                    This field cannot be longer than 64 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="mccrmApp.customer.customerType" for="field_customerType">Customer Type</label>
            <select class="form-control" name="customerType" ng-model="vm.customer.customerType" id="field_customerType">
                <option value="REGULAR" translate="mccrmApp.CustomerType.REGULAR">REGULAR</option>
                <option value="CORPORATE" translate="mccrmApp.CustomerType.CORPORATE">CORPORATE</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" translate="mccrmApp.customer.creationDate" for="field_creationDate">Creation Date</label>
                <div class="input-group">
                    <input id="field_creationDate" type="text" class="form-control" name="creationDate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.customer.creationDate" is-open="vm.datePickerOpenStatus.creationDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('creationDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>

        <div class="form-group">
            <label translate="mccrmApp.customer.lre" for="field_lre">Lre</label>
            <select class="form-control" id="field_lre" name="lre" ng-model="vm.customer.lre" ng-options="lre as lre.id for lre in vm.lres track by lre.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="mccrmApp.customer.parentCustomer" for="field_parentCustomer">Parent Customer</label>
            <select class="form-control" id="field_parentCustomer" name="parentCustomer" ng-model="vm.customer.parentCustomer" ng-options="customer as customer.parentCustomerId for customer in vm.customers track by customer.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
